In [1]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
import datetime as dt

In [36]:
#sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]

In [82]:
def get_june_temps(start,end):
    results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= start).filter(Measurement.date <= end)
    return results.all()

all_years  = [2010, 2011, 2012,2013,2014,2015,2016,2017]
all_junes = []
for i in range(len(all_years)):
    print(all_years[i])
    start = dt.date(all_years[i], 6, 1)
    end = dt.date(all_years[i], 6, 30)
    all_junes.append(get_june_temps(start,end))
len(all_junes)

2010
2011
2012
2013
2014
2015
2016
2017

8

In [88]:
sum1 = 0
for i in range(len(all_junes)):
    sum1 = sum1 + len(all_junes[i])
print(sum1)

1700

In [75]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

#2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
def get_june_temps(start,end):
    results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= start).filter(Measurement.date <= end)
    return results

'''
start = dt.date(2017, 6, 1)
end = dt.date(2017, 6, 30)
#results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= start).filter(Measurement.date <= end)
#results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.station == 'USC00519281').filter(Measurement.date >= start).filter(Measurement.date <= end)
results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= start).filter(Measurement.date <= end)

def stats(start=None, end=None):
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]           

    if not end: 
        results = session.query(*sel).filter(Measurement.date <= start).all()
        temps = list(np.ravel(results))
        return jsonify(temps)

    results = session.query(*sel).filter(Measurement.date >= start).filter(Measurement.date <= end).all()
    temps = list(np.ravel(results))
    return jsonify(temps=temps)
'''

'\ndef stats(start=None, end=None):\n    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]           \n\n    if not end: \n        results = session.query(*sel).filter(Measurement.date <= start).all()\n        temps = list(np.ravel(results))\n        return jsonify(temps)\n\n    results = session.query(*sel).filter(Measurement.date >= start).filter(Measurement.date <= end).all()\n    temps = list(np.ravel(results))\n    return jsonify(temps=temps)\n'

In [47]:
session.query(Measurement.station, func.count(Measurement.station)).\
group_by(Measurement.station).order_by(func.count(Measurement.station).desc()).all()

[('USC00519281', 2772),
 ('USC00519397', 2724),
 ('USC00513117', 2709),
 ('USC00519523', 2669),
 ('USC00516128', 2612),
 ('USC00514830', 2202),
 ('USC00511918', 1979),
 ('USC00517948', 1372),
 ('USC00518838', 511)]

In [95]:
first_day = session.query(Measurement.date).order_by(Measurement.date.asc()).all()[0]
last_day = session.query(Measurement.date).order_by(Measurement.date.asc()).all()[-1]
print(first_day, last_day)

('2010-01-01',) ('2017-08-23',)

In [90]:
#session.query(Measurement.date, func.count(Measurement.date)).\
#group_by(Measurement.date).order_by(func.count(Measurement.date).asc()).all()

In [77]:
191*8

1528

In [76]:
#  3. Convert the June temperatures to a list.
all_years  = [2010, 2011, 2012,2013,2014,2015,2016,2017]
all_junes = []
for i in range(len(all_years)):
    #print(all_years[i])
    start = dt.date(all_years[i], 6, 1)
    end = dt.date(all_years[i], 6, 30)
    temps = get_june_temps(start,end)
    all_junes.append()
len(all_junes)



'''
temps = results.all()
df = pd.DataFrame(temps)
df
'''

           date  tobs
0    2017-06-01  79.0
1    2017-06-02  79.0
2    2017-06-03  79.0
3    2017-06-04  79.0
4    2017-06-05  80.0
..          ...   ...
186  2017-06-26  79.0
187  2017-06-27  74.0
188  2017-06-28  74.0
189  2017-06-29  76.0
190  2017-06-30  75.0

[191 rows x 2 columns]

In [63]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(temps, columns=['date','temps'])
df.head()

ValueError: 2 columns passed, passed data had 1 columns

In [57]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

             temps
count  2223.000000
mean     74.578947
std       4.612232
min      58.000000
25%      71.000000
50%      75.000000
75%      78.000000
max      87.000000

## D2: Determine the Summary Statistics for December

In [38]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
start = dt.date(2016, 12, 1)
end = dt.date(2017, 1, 1)
results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= start).filter(Measurement.date <= end)

In [39]:
# 7. Convert the December temperatures to a list.
temps = results.all()

In [42]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df = pd.DataFrame(temps, columns=['date','temps'])
df.head(10)

         date  temps
0  2016-12-01   75.0
1  2016-12-02   72.0
2  2016-12-03   69.0
3  2016-12-04   71.0
4  2016-12-05   68.0
5  2016-12-06   67.0
6  2016-12-07   69.0
7  2016-12-08   73.0
8  2016-12-09   70.0
9  2016-12-10   70.0

In [41]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df.describe()

            temps
count  206.000000
mean    71.077670
std      3.466042
min     60.000000
25%     69.000000
50%     71.000000
75%     74.000000
max     78.000000