In [1]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
import datetime as dt

In [ ]:
#determine first & last day of data
#first_day = session.query(Measurement.date).order_by(Measurement.date.asc()).all()[0]
#last_day = session.query(Measurement.date).order_by(Measurement.date.asc()).all()[-1]
#print(first_day, last_day)

In [6]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

#2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
def stats(start=None, end=None):
    sel = [Measurement.date, Measurement.tobs]           

    results = session.query(*sel).\
    filter(Measurement.date >= start).\
    filter(Measurement.date <= end)
    return results

In [7]:
#  3. Convert the June temperatures to a list.
all_years  = [2010, 2011, 2012,2013,2014,2015,2016,2017]
temps_list = []
for i in range(len(all_years)):
    #print(all_years[i])
    start = dt.date(all_years[i], 6, 1)
    end = dt.date(all_years[i], 6, 30)
    temps = stats(start,end)
    temps_list = temps_list + temps.all()

In [8]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temps_df = pd.DataFrame(temps_list, columns=['date','temps'])
june_temps_df.head()

         date  temps
0  2010-06-01   78.0
1  2010-06-02   76.0
2  2010-06-03   78.0
3  2010-06-04   76.0
4  2010-06-05   77.0

In [9]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temps_df.describe()

             temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [12]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
#function from deliverable 1 is reused for this query

In [10]:
# 7. Convert the December temperatures to a list.
all_years  = [2010, 2011, 2012,2013,2014,2015,2016]
temps_list = []
for i in range(len(all_years)):
    #print(all_years[i])
    start = dt.date(all_years[i], 12, 1)
    end = dt.date(all_years[i], 12, 31)
    temps = stats(start,end)
    temps_list = temps_list + temps.all()

In [11]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
december_temps_df = pd.DataFrame(temps_list, columns=['date','temps'])
december_temps_df.head(10)

         date  temps
0  2010-12-01   76.0
1  2010-12-03   74.0
2  2010-12-04   74.0
3  2010-12-06   64.0
4  2010-12-07   64.0
5  2010-12-08   67.0
6  2010-12-09   77.0
7  2010-12-10   66.0
8  2010-12-11   69.0
9  2010-12-12   68.0

In [12]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
december_temps_df.describe()

             temps
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000